@use 'variables' as v

body
    font-family: 'Montserrat', sans-serif
    text-shadow: 2px 2px 2px rgba(v.$primaryColor, 0.5)
    background-image: url(../img/bg.png)
    background-position: top
    background-repeat: no-repeat
    background-size: 100vmax
    @media screen and (max-width: 768px)
        background-image: url(../img/bg-new.png)
    .wave1
        margin-top: -8em
    .attr
        font-size: 0.5rem
    footer
        background-color: v.$primaryColor
        color: white
