.card 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1)
    transition: 0.3s
    border-radius: 10px
    display: inline-block
    width: 200px
    &:hover 
        box-shadow: 0 16px 32px 0 rgba(0,0,0,0.4)
    img
        border-radius: 10px 10px 0 0
        height: 200px
        width: 200px
        padding: 7px 7px 0px 7px // top right bottom left
.container
    text-align: justify
    line-height: 1
    .nb
        font-weight: 500

        // display: none
        // font-size: 1px
        // line-height:1px
        // max-height:0px
        // max-width:0px
        // opacity:0
        // overflow: hidden