@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
body h2 {
  float: none;
  margin-left: 50px;
}
body .products {
  margin-left: 50px;
  align-self: center;
}
body #packages {
  align-self: center;
  overflow: auto;
  white-space: nowrap;
  margin-left: 50px;
}
@media screen and (max-width: 576px) {
  body #packages {
    margin-left: 0px;
  }
}
@media screen and (max-width: 768px) {
  body #packages {
    margin-left: 0px;
  }
}

nav {
  display: flex;
  background-color: #5a5844;
  justify-content: space-around;
  height: 50px;
  color: #eaeeed;
  align-items: center;
}
nav .logo {
  font-family: "Pacifico", cursive;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: #eaeeed;
  text-decoration: none;
}
nav ul li a:hover {
  background-color: #eaeeed;
  color: #5a5844;
}
nav .menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
nav .menu-toggle input {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 0px;
  top: 0px;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
nav .menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
nav .menu-toggle input:checked ~ span:last-child {
  transform: rotate(-45deg) translate(-1px, 0px);
}
nav .menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
nav .menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  border-radius: 5px;
  background-color: #eaeeed;
  transition: all 0.5s;
}
nav .menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
nav .menu-toggle span:last-child {
  transform-origin: 0 100%;
}

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}
@media screen and (max-width: 576px) {
  nav .menu-toggle {
    display: flex;
  }
  nav ul {
    background-color: #beaf98;
    position: absolute;
    flex-direction: column;
    top: 0;
    right: 0;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: 1s;
    opacity: 0;
  }
  nav ul.slide {
    transform: translateX(0);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.fade img {
  height: 350px;
  width: 1000px;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border-radius: 10px;
  display: inline-block;
  width: 200px;
}
.card:hover {
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.4);
}
.card img {
  border-radius: 10px 10px 0 0;
  height: 200px;
  width: 200px;
  padding: 7px 7px 0px 7px;
}
.card .label {
  line-height: 1;
}
.card .label .nb {
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
